<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->

<html class="no-js"> <!--<![endif]-->
    <head>
        <title>I.D Validator</title>

        <!-- meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- stylesheets -->
		<link href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" rel="stylesheet"/>
		<link href="{{ url_for('static', filename='assets/font_icon/css/pe-icon-7-stroke.css') }}" rel="stylesheet"/>
		<link href="{{ url_for('static', filename='assets/font_icon/css/helper.css') }}" rel="stylesheet"/>
		<link href="{{ url_for('static', filename='assets/css/owl.carousel.css') }}" rel="stylesheet"/>
		<link href="{{ url_for('static', filename='assets/css/owl.theme.css') }}" rel="stylesheet"/>
		<link href="{{ url_for('static', filename='assets/css/animate.css') }}" rel="stylesheet"/>
		<link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet"/>

        <!-- google fonts -->
        <link href='http://fonts.googleapis.com/css?family=Dosis:200,300,400,500|Lato:300,400,700,900,300italic,400italic,700italic,900italic|Raleway:400,200,300,500,100|Titillium+Web:400,200,300italic,300,200italic' rel='stylesheet' type='text/css'>

		<script src="{{ url_for('static', filename='assets/js/modernizr.js') }}"></script>

    </head>
    <body id="body">
        <!--[if lt IE 7]>
                <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!--&lt;!&ndash; Header area &ndash;&gt;-->
        <!--<header id="header">-->
            <!--<div class="center text-center">-->
                <!--<h4 class="bigheadline"style="font-size:80px"><b>I.D Validator</b></h4>-->
                <!--<h4 class="subheadline">Recognizing your true self</h4>-->
            <!--</div>-->
            <!--<div class="bottom">-->
                <!--<a data-scroll href="#navigation" class="scrollDown animated pulse" id="scrollToContent"><i class="pe-7s-angle-down-circle pe-va"></i></a>-->
            <!--</div>-->
        <!--</header>-->

        <!-- Navigation area -->
        <section id="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="logo"><a data-scroll href="http://localhost:3000/" class="logo-text">I.D Validator</a></div>
                    </div>
                    <div class="col-xs-6">
                        <div class="nav">
                            <a href="#" data-placement="bottom" title="Menu" class="menu" data-toggle="dropdown"><i class="pe-7s-menu"></i></a>
                             <div class="dropdown-menu">
                                 <div class="arrow-up"></div>
                                 <ul>
                                     <li><a data-scroll href="#body">Home <i class="pe-7s-home"></i></a><span class="menu-effect"></span></li>
                                     <li><a data-scroll href="#services">Service <i class="pe-7s-config"></i></a><span class="menu-effect"></span></li>
                                     <!--<li><a data-scroll href="#contact">Contact <i class="pe-7s-help1"></i></a><span class="menu-effect"></span></li>-->
                                 </ul>
                             </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- Content Area -->

        <!-- services section -->

        <section id="services" class="service-area" style="margin: 8px 0px 10px 0px">
            <div class="container" style="width: 1400px; max-height = 800px">
                <h2 class="block_title" style="margin-bottom: 20px; 1400px">Services</h2>
                <h3 style="margin-bottom: 20px; 1400px; font-size: 3em;font-weight: 300; text-align: center ;overflow: hidden">Click and upload your ID card</h3>
                <div class="contr"><h4 class="section-heading text-white">Image Successfully Uploaded</h4></div>
                <form action="claim" method="post" enctype="multipart/form-data">
                 <input type="submit" class="btn btn-primary" value="Verify images"><br /><br />
		         </form>
            </div>
            </div>
        </section><!-- services -->


        <!--&lt;!&ndash; Contact Area &ndash;&gt;-->

        <!--<section id="contact" class="mapWrap">-->
            <!--<div id="googleMap" style="width:100%;"></div>-->
            <!--<div id="contact-area">-->
                <!--<div class="container">-->
                    <!--<h2 class="block_title">Hey !!!</h2>-->
                    <!--<div class="row">-->
                        <!--<div class="col-xs-12">-->
                        <!--</div>-->
                        <!--<div class="col-sm-6">-->
                            <!--<div class="moreDetails">-->
                                <!--<h2 class="con-title">More About me</h2>-->
                                <!--<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum animi repudiandae nihil aspernatur repellat temporibus doloremque sint ea laboriosam, excepturi iure inventore rerum voluptatibus, suscipit totam, sit necessitatibus. Rerum, blanditiis. </p>-->
                                <!--<ul class="address">-->
                                    <!--<li><i class="pe-7s-map-marker"></i><span>1600 Pennsylvania Ave NW,<br>Washington, DC 20500,<br>United States</span></li>-->
                                    <!--<li><i class="pe-7s-mail"></i><span>example@gmail.com</span></li>-->
                                    <!--<li><i class="pe-7s-phone"></i><span>+1-202-555-0144</span></li>-->
                                    <!--<li><i class="pe-7s-global"></i><span><a href="#">www.themewagon.com</a></span></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-sm-6">-->
                            <!--<h2 class="con-title">Drop us a line</h2>-->
                            <!--<form role="form">-->
                              <!--<div class="form-group">-->
                                <!--<input type="text" class="form-control" id="user_name" placeholder="Enter your name">-->
                              <!--</div>-->
                              <!--<div class="form-group">-->
                                <!--<input type="email" class="form-control" id="your_email" placeholder="Enter your email">-->
                              <!--</div>-->
                              <!--<div class="form-group">-->
                                <!--<textarea name="InputMessage" id="user_message" class="form-control" rows="5" required></textarea>-->
                              <!--</div>-->

                              <!--<button type="submit" class="btn medium">Let us know</button>-->
                            <!--</form>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>&lt;!&ndash; container &ndash;&gt;-->
            <!--</div>&lt;!&ndash; contact-area &ndash;&gt;-->
            <!--<div id="social">-->
                <!--<div class="container">-->
                    <!--<div class="row">-->
                        <!--<div class="col-xs-12">-->
                            <!--<ul class="scoialinks">-->
                                <!--<li class="normal-txt">Find me on</li>-->
                                <!--<li class="social-icons"><a class="facebook" href="#"></a></li>-->
                                <!--<li class="social-icons"><a class="twitter" href="#"></a></li>-->
                                <!--<li class="social-icons"><a class="linkedin" href="#"></a></li>-->
                                <!--<li class="social-icons"><a class="google-plus" href="#"></a></li>-->
                                <!--<li class="social-icons"><a class="wordpress" href="#"></a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>&lt;!&ndash; social &ndash;&gt;-->
        <!--</section>&lt;!&ndash; contact &ndash;&gt;-->

        <!-- Footer Area -->

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="copyright">© Copyright 2017 <a href="#" target="_blank">Your Website Link</a></p>
                    </div>
                    <div class="col-sm-6">
                        <p class="designed">Theme by <a href="http://themewagon.com" target="_blank">Themewagon</a></p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Necessery scripts -->
		<script src="{{ url_for('static', filename='assets/js/jquery-2.1.3.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
		<script src="{{ url_for('static', filename='assets/js/jquery.actual.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/smooth-scroll.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/owl.carousel.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/script.js') }}"></script>
		<script>
			// Grab elements, create settings, etc.
			var video = document.getElementById('video');

			// Get access to the camera!
			if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
				// Not adding `{ audio: true }` since we only want video now
				navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
					video.src = window.URL.createObjectURL(stream);
					video.play();
				});
			}
			// Elements for taking the snapshot
			var canvas = document.getElementById('canvas');
			var context = canvas.getContext('2d');
			var video = document.getElementById('video');

			// Trigger photo take
			document.getElementById("snap").addEventListener("click", function() {
			console.log('sanp button clicked')
				context.drawImage(video, 0, 0, 640, 480);
			});

			// Trigger photo take
			document.getElementById("save").addEventListener("click", function() {
			console.log('save button clicked')
			var imgAsDataURL = canvas.toDataURL("image/png")
			imgAsDataURL = imgAsDataURL.replace(/^data:image\/(png|jpg);base64,/, "");
			console.log(imgAsDataURL)
				$.ajax({
				  type: "POST",
				  url: "/uploadId",
				  data:{
					imageBase64: imgAsDataURL
				  }
				}).done(function() {
				  console.log('sent');
				});
			});


		</script>

    </body>
</html>

